In [9]:
import pandas as pd
import sys
import scipy.io

In [10]:
baselineDE = pd.read_excel('/mnt/d/AER 850 Machine Learning/baseline.xlsx',sheet_name="Baseline DE")

baseline007DE = pd.read_excel('/mnt/d/AER 850 Machine Learning/baseline.xlsx',sheet_name="0.007 DE")

baseline021DE = pd.read_excel('/mnt/d/AER 850 Machine Learning/baseline.xlsx',sheet_name="0.021 DE")

In [11]:
baselineDE.head()

,Baseline 0HP DE X97,Baseline 1HP DE X98,Baseline 2HP DE X99,Baseline 3HP DE
0,0.053197,0.145667,0.064254,0.014603
1,0.088662,0.097796,0.063002,0.054449
2,0.099718,0.054856,-0.004381,0.107646
3,0.058621,0.036982,-0.035882,0.133722
4,-0.004590,0.054445,-0.023991,0.112652

In [12]:
baselineDE.insert(0, 'Fault', 'None')
baselineDE = baselineDE.rename(columns={'Baseline 0HP DE X97':'0HP','Baseline 1HP DE X98':'1HP','Baseline 2HP DE X99':'2HP','Baseline 3HP DE':'3HP'})
baselineDE.head()

  Fault       0HP       1HP       2HP       3HP
0  None  0.053197  0.145667  0.064254  0.014603
1  None  0.088662  0.097796  0.063002  0.054449
2  None  0.099718  0.054856 -0.004381  0.107646
3  None  0.058621  0.036982 -0.035882  0.133722
4  None -0.004590  0.054445 -0.023991  0.112652

In [13]:
baseline007DE.insert(0,'Fault','Fault at Inner Raceway (IR) 0.007')
baseline007DE = baseline007DE.rename(columns={'12K 0.007" 0HP':'0HP','12K 0.007" 1HP':'1HP','12K 0.007" 2HP':'2HP','12K 0.007" 3HP':'3HP'})
baseline007DE.head()

                               Fault       0HP       1HP       2HP       3HP
0  Fault at Inner Raceway (IR) 0.007 -0.083004 -0.277602 -0.093238  0.222699
1  Fault at Inner Raceway (IR) 0.007 -0.195734 -0.044345  0.187288  0.093238
2  Fault at Inner Raceway (IR) 0.007  0.233419  0.117603  0.217663 -0.146516
3  Fault at Inner Raceway (IR) 0.007  0.103958 -0.145055  0.070172  0.177217
4  Fault at Inner Raceway (IR) 0.007 -0.181115 -0.111430  0.100385  0.248526

In [14]:
baseline021DE.insert(0,'Fault','Fault at Inner Raceway (IR) 0.021')
baseline021DE = baseline021DE.rename(columns={'12K 0.021" 0HP':'0HP','12K 0.021" 1HP':'1HP','12K 0.021" 2HP':'2HP','12K 0.021" 3HP':'3HP'})
baseline021DE.head()

                               Fault       0HP       1HP       2HP       3HP
0  Fault at Inner Raceway (IR) 0.021  1.189431  0.171369 -0.402027 -0.206293
1  Fault at Inner Raceway (IR) 0.021 -0.177866  0.117765  0.548219 -0.007310
2  Fault at Inner Raceway (IR) 0.021 -0.774816 -0.097055  0.931565  0.222536
3  Fault at Inner Raceway (IR) 0.021  0.501518  0.009746 -0.218881 -0.005685
4  Fault at Inner Raceway (IR) 0.021  0.993697  0.060913 -1.079788  0.031675

In [20]:
faultdata = pd.concat([baselineDE,baseline007DE,baseline021DE])
faultdata.head()

In [21]:
faultdatashuffled = faultdata.sample(frac=1,random_state = 42)
faultdatashuffled.head()